PORT=4000
# client url will be 3000 in dev and actual backend url in production due to frontend build is served via backend
CLIENT_URL="http://localhost:3000"
BETTER_AUTH_URL="http://localhost:4000"
DATABASE_URL="postgresql://xxxx:xxxxx@localhost:xxx"
DB_HOST=""
DB_PORT=""
DB_USER=""
DB_PASSWORD=""
DB_NAME="web_shop_db"
BETTER_AUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
# IF using smtp nodemailer
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
# if using resend
RESEND_API_KEY=""